*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;   
}
.padre{
    background: url('img/fondo.jpg');
    width: 88rem;
    height:50rem;
    background-size: cover;
    
}
.fondoAnimado{
    animation: city 5s infinite linear;
}
@keyframes city{
    100%{
    background-position-x: -1920px;
}
}
.luz{
    
    position: absolute;
    left: 61rem;
    top: 27rem; 
    animation: luz 5s infinite linear;
}
@keyframes luz{
    
    0%{
        opacity: 0;
    }

    100%{
        opacity:1;
    }
}
.carrou{
   
    position: absolute;
    top: 5rem;
    left: -42rem;
}
.llanta{
    width: 150px;
    position: absolute;
    left: 28rem;
    top: 37.8rem;
    
}
.llantaAnimado{
    animation: rueda 10s infinite linear;
    animation: rueda 10s infinite linear;
}
@keyframes rueda{
    100%{
    transform: rotate(10000deg); 
    }
}

.llanta2{
    width: 150px;
    position: absolute;
    left: 51.6rem;
    top: 37.8rem;
    
}

@keyframes rueda{
    100%{
    transform: rotate(10000deg); 
    }
}
.humo{
    position: absolute;
    right: 55rem;
    top: 18rem;
    background: url(img/sprikes.png);
    height: 196px;
    width: 392px;
    animation: polvo 0.5s infinite steps(5);
}
@keyframes polvo{
    100%{
        background-position-x: 1876px;
    }
}
.oculto{
    display: none;
}
